.recipesList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.recpesList {
    flex-basis: 16%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}
fieldset {
    margin: 0.5rem 0;
    padding: 0.5rem;
}